* {
    margin: 0;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.nav-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    box-shadow: 0rem 0.02rem rgba(34, 34, 34, 0.226);
    position: fixed;
    z-index: 1;
    width: 100%;
    font-size: 0.95rem;
    letter-spacing: 0.25rem;

}

.logo {
    padding-right: 0.40rem;
}

.left-nav {
    margin-left: 0.1rem;
    padding: 0.2rem 1rem;
}

.right-nav {
    padding: 0.2rem 1rem;
}

.right-nav a:nth-child(3) {
    margin-right: 0.1rem;
}

@media (max-width:667px) {
    .right-nav {
        display: none;
    }
}

.right-nav a,
.left-nav a,
.btn {
    text-decoration: none;
    padding: 0.6rem 1rem;
    color: black;
}

.left-nav a:hover,
.right-nav a:hover {
    background-color: grey;
}

.mid-container {
    height: auto;
    position: relative;
    letter-spacing: 0.25rem;
}

.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 1rem;
    text-align: center;
    font-size: 2.2rem;
    transform: translate(-50%, -50%);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.863);

}

.new-logo {
    margin-right: 0.60rem;
    background-color: rgba(0, 0, 0, 0.74);
    font-size: 2.3rem;
    font-weight: bold;
    padding: 0.6rem;
}

.mid-container img {
    width: 100%;
    height: auto;
}

.project-text-container {
    margin: 3rem 2.5%;
}

.text-project,
.text-about,
.text-contact {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.025rem solid rgba(206, 202, 202, 0.541);
    letter-spacing: normal;
    font-size: larger;
}

.top-row,
.bottom-row {
    max-width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.image-container {
    width: 24%;
    height: fit-content;
    position: relative;

}



.top-left-text {
    position: absolute;
    float: left;
    letter-spacing: normal;
    background-color: black;
    color: white;
    padding: 0.723rem;
}

.top-image {
    width: 100%;
    height: fit-content;
}

@media (max-width:932px) {
    .image-container {
        flex: 45%;
        padding-bottom: 0.52rem;
        padding-right: 1rem;
    }

    .image-container:nth-of-type(2n) {
        padding-right: 0;
    }

    .top-row {
        margin-bottom: 0.10rem;
    }

    .bottom-row {
        margin-top: 0;
    }
}

@media (max-width:612px) {

    .top-row,
    .bottom-row {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
        padding-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
    }

    .image-container:last-child {
        padding-bottom: 0;
    }
}

.about-container {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 3rem;
}

.about-section {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 0.95rem;
    line-height: 1.5rem;
}

.contacts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partners {
    width: 24%;
}

.partner-image img {
    width: 100%;
    height: fit-content;
    filter: grayscale(100%);
}

.myname {
    padding: 1rem 0;
    color: rgba(14, 13, 13, 0.925);
    font-size: 1.5rem;
}

.designation {
    color: gray;
    padding-bottom: 1rem;
}

.about-me {
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.788);
}

.btn {
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: rgba(218, 214, 214, 0.568);
}

.btn:hover {
    background-color: rgba(168, 164, 164, 0.774);
    transition: all ease-in-out 1ms;
}

@media(max-width:932px) {
    .partners {
        flex: 45%;
        margin: 1rem 0.6rem;
    }
}

@media(max-width:612px) {
    .contacts-container {
        flex-direction: column;
    }

    .partners {
        width: 100%;
        margin: 1rem 0;
    }
}

.contact-us-container {
    margin-top: 3rem;
    width: 100%;
}

.contact-form {
    margin: 1rem 0;
}

.write-us {
    width: 100%;

}

.fill {
    padding: 0.50rem;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    font-size: medium;
    box-sizing: border-box;
}

.msg-btn {
    margin: 1rem 0;
    background-color: black;
    color: white;
    padding: 0.50rem 1rem;
}

.location-conatiner img {
    margin-top: 2rem;
    margin-bottom: 0.40rem;
    width: 100%;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2rem 0;
}